@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  font-family: "DM Sans", sans-serif;
  background-image: url("/bg-img.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 71px 214px;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
}

.nav-items {
  list-style: none;
  display: flex;
}

li {
  margin-left: 32px;
}

.company-name {
  margin: 0 auto;
}

.signup-btn {
  margin-left: 32px;
}

.login-btn,
.signup-btn {
  border: 0px;
  border-radius: 30px;
  padding: 10px 15px;
}

.login-btn {
  background-color: #ffffff00;
  color: #fff;
}

.signup-btn {
  background-color: #25dac5;
  color: #fff;
}

h2 {
  font-size: 58px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
  margin-top: 78.5px;
  padding: 0 212px;
}

section img {
  width: 70px;
  height: 70px;
  margin-top: 84px;
}

section p {
  margin-top: 71px;
  padding: 0 380px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  body {
    margin: 0 0;
    width: 100%;
  }
  header {
    display: flex;
    flex-direction: column;
    font-size: small;
    padding: 25px 0;
  }
  .company-name {
    font-size: 2rem;
    padding: 20px;
    color: #fff;
  }
  h2 {
    padding: 4px 4px;
    margin: 33px 5px;
    font-size: 38px;
  }
  section img {
    margin-top: 71px;
  }
  section p {
    padding: 0;
    margin: 49px;
    font-size: large;
  }
}
